/* Estilo general */
.containerform {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: var(--text-color);
}

.form-wrapper {
    width: 100%;
    max-width: 700px;
    background-color: var(--navbar-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.page-title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.form-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.form-group {
    flex: 1;
    min-width: 200px;
}

.full-width {
    width: 100%;
}

.form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 0.5rem 0.75rem;
    border-style: none;
    border-radius: 4px;
    font-size: 0.875rem;
    transition: border-color 0.15s ease-in-out;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    box-shadow: 0px 0px 4px var(--shadow-color);
}


.form-control:focus {
    outline: none;
    border-color: #2563eb;
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.1);
}

textarea.form-control {
    min-height: 100px;
    resize: vertical;
    color: var(--text-color);
}

.upload-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed var(--text-color);
    border-radius: 8px;
    padding: 20px;
    cursor: pointer;
    color: var(--text-color);
}

.upload-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.upload-text {
    font-size: 16px;
    color: var(--text-color);
}

.upload-hint {
    font-size: 14px;
    color: var(--text-color);
}

.widgetbx {
    background-color: var(--body-color);
    max-width: 240px;
    height: 240px;
    padding: 8px;
    border-radius: 7px;
    box-shadow: 0px 0px 4px var(--shadow-color);
    gap: 10px;
}

.buttonH {
    display: flex;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    width: 223px;
    height: 80px;
    overflow: hidden;
    box-shadow: 0px 0px 4px var(--shadow-color);
    margin-bottom: 8px;
}

.buttonH img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.buttonV img{
    width: 100%;
    height: 100%;
    border-radius: 7px;
    object-fit:cover;
}

.buttonVR img{
    width: 100%;
    height: 100%;
    border-radius: 7px;
    object-fit:cover;
}

.buttonV{
width: 50px;
height: 130px;
border-radius: 7px;
border: none;
box-shadow: 0px 0px 4px var(--shadow-color);
}

.buttonVR{
    width: 50px;
    height: 130px;
    border-radius: 7px;
    border: none; 
    box-shadow: 0px 0px 4px var(--shadow-color);
}

.minispacer {
    width: 115px;
    height: 90px;
    background-color: var(--body-color);
    border-radius: 7px;
    border: none;
}

.submit-wrapper {
    text-align: center;
    margin-top: 20px;
}

.submit-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0px 0px 4px var(--shadow-color);
}

.submit-button:hover {
    background-color: #0056b3;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .form-grid {
        flex-direction: column;
    }

    .widgetbx {
        flex-direction: column;
    }
}
